<mat-toolbar>
        <nav>
            <a routerLink="/news" class="toolbar-title">Hack The News</a>
            <a routerLink="/newest" class="toolbar-element">newest</a>
            |
            <a routerLink="/ask" class="toolbar-element">ask</a>
            |
            <a routerLink="/url" class="toolbar-element">url</a>
            |
            <a routerLink="" class="toolbar-element">jordiromero</a>
        </nav>

    <span class="fill-space"></span>
    <span>Github image</span>
</mat-toolbar>